@import "./config";

header {
  position: relative;
  height: 28rem;
  overflow: hidden;
  background: linear-gradient(to right, #78350f, #b45309);

  .logo {
    padding: 4px;
    width: 100px;
    margin-bottom: 1rem;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 99;
    background: #fff;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  }

  .hero-content {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;

    .reviews {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #f77e22;

      p {
        margin: 0;
        font-size: 16px;
      }
    }

    h1 {
      font-size: 4rem;
      font-weight: bold;
      margin: 0;

      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      color: #ffffff;
      max-width: 700px;
      margin: 0 auto 2rem;
    }

    .hero-buttons {
      display: flex;
      gap: 1rem;

      a {
        background: #ffffff26;
        backdrop-filter: blur(10px);
        transition: all 0.3s ease-in-out;
        padding: 10px 32px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        border: 1px solid #ffffff;
        color: #ffffff;

        &:hover {
          background: #ffffff;
          color: #f54a00;
        }

        @media screen and (max-width: 768px) {
          padding: 10px 24px;
        }
      }
    }
  }
}

main {
  #cart_btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background: linear-gradient(to right, #f54a00, #ff6b28);
    padding: 8px 24px;
    z-index: 99;
    border-radius: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;

    h6 {
      margin: 0;
      font-size: 14px;
      text-align: start;
    }

    span {
      font-size: 12px;
    }

    i {
      font-size: 24px;
    }
  }

  .filter {
    top: 0;
    padding: 16px 0;
    position: sticky;
    z-index: 100;
    background: #fff;
    box-shadow: #959da533 0 8px 24px;

    .serach_box {
      width: 100%;
      padding: 6px 12px;
      border: 1px solid #e2e2e2;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

      input {
        width: 100%;
        padding: 4px 0;
      }
      i {
        color: #f54a00;
      }
    }

    .view_method {
      display: flex;
      align-items: center;
      gap: 8px;

      button {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
        height: 100%;
        padding: 8px 16px;
        border: 1px solid #e2e2e2;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        color: #505050;
        transition: all 0.3s ease-in-out;
        position: relative;

        span {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
          background: #f54a00;
          color: #fff;
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }

        &.active {
          background: #f54a00;
          color: #fff;
        }
      }
    }

    .swiper-slide {
      width: fit-content;
    }

    .category_btn {
      width: 100%;
      padding: 8px 24px;
      border: 1px solid #e2e2e2;
      border-radius: 12px;
      font-size: 16px;
      color: #505050;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;

      &.active,
      &:hover {
        background: #f54a00;
        border-color: #f54a00;
        color: #fff;
      }
    }
  }

  .menu {
    padding: 16px 0;
    min-height: 400px;

    .filter {
      background: transparent;
      box-shadow: none;
      display: flex;
      gap: 8px;
      z-index: 0;
      position: static;
    }

    .menu_item {
      width: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
      position: relative;

      .vegiterian {
        position: absolute;
        top: 12px;
        right: 12px;
        background: #3cc16b;
        color: #fff;
        font-size: 12px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 30px;

        img {
          width: 14px;
          height: 14px;
          filter: brightness(0) invert(1);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 2;
      }

      .menu_item_info {
        padding: 16px;

        h3 {
          font-size: 20px;
          font-weight: 600;
          color: #1f2937;
        }

        p {
          font-size: 14px;
          color: #777;
        }

        .price_btn {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 20px;
            font-weight: 600;
            color: #f54a00;
          }

          button {
            padding: 10px 16px;
            border-radius: 12px;
            font-size: 14px;
            color: #171616;
            transition: all 0.3s ease-in-out;
            border: 1px solid #f1f1f1;
            margin-inline-start: auto;

            &:hover {
              background: #f54a00;
              border-color: #f54a00;
              color: #fff;
            }
          }
        }
      }

      &.horizontal {
        flex-direction: row;

        .menu_item_img {
          flex: 1;

          .vegiterian {
            position: absolute;
            top: 12px;
            left: 12px;
            right: initial;
          }
        }

        .menu_item_info {
          flex: 3;
          @media screen and (max-width: 768px) {
            flex: 1;
          }
        }
      }
    }
  }
}

footer {
  background: #202226;
  color: #fff;
  padding: 32px 0 16px;

  h2 {
    font-size: 42px;
    color: #fff;
    text-align: center;
  }

  p {
    text-align: center;
    color: #9ca3af;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;

    @media screen and (max-width: 768px) {
      gap: 16px;
    }

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;

      a {
        color: #fff;
      }
    }
  }

  .copy {
    border-top: 1px solid #ffffff10;
    margin-top: 16px;

    p {
      margin: 16px 0 0;
      font-size: 14px;
    }
  }
}

#cartModal {
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    img {
      width: 140px;
      height: 100px;
      object-fit: cover;
      border-radius: 12px;
    }

    .cart-item-details {
      display: flex;
      align-items: center;
      gap: 16px;

      h6 {
        font-size: 20px;
        font-weight: 600;
        color: #1f2937;
      }

      p {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        color: #f54a00;
      }
    }

    .quantity-controls {
      display: flex;
      align-items: center;
      gap: 16px;

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fafafa;
        color: #f54a00;
        font-size: 14px;
        font-weight: 700;
        border: none;
        cursor: pointer;
      }

      .total-price {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        padding-inline-start: 12px;
      }
    }
  }

  .checkout {
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #1f2937;
      margin: 0;

      span {
        font-size: 18px;
        font-weight: 700;
        color: #f54a00;
      }
    }

    button {
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 14px;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      background: #000000;
      margin-inline-start: auto;
    }
  }
}
